s=input()
h1=s[0]
h2=s[1]
hh=h1+h2
if s[8]=="a" or s[8]=="A" :
    if hh=="12" :
       print("00",end = '')
       for i in range(2,8):
           print (s[i],end = '')
    
    else :
         for i in range(0,8):
           print (s[i],end = '')
elif s[8]=="p" or s[8]=="P" :
    h=int(hh)
    h=h+12
    print (h ,end = '')
    for i in range(2,8):
        print (s[i],end = '')
